@model Project.SQLDataAccess.Entities.Objective

@{
    ViewBag.Title = "ODetails";
}
<style>
    a.my-class {
        color: #000000
    }

        a.my-class:active {
            color: #000000
        }

        a.my-class:link {
            color: #999999
        }

        a.my-class:visited {
            color: #CCCCCC
        }
</style>

<h2>Подробности</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Название")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Описание")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("Статус")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusID)
        </dd>

    </dl>
</div>
