@model IEnumerable<Project.SQLDataAccess.Entities.Objective>

@{
    ViewBag.Title = "Watch";
}
<style>
    a.my-class {
        color: #000000
    }

        a.my-class:active {
            color: #000000
        }

        a.my-class:link {
            color: #999999
        }

        a.my-class:visited {
            color: #CCCCCC
        }
</style>

<h2>Список тасков пользователя.</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Название")
        </th>
        <th>
            @Html.DisplayName("Описание")
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <button type="button" id="id=" WhiteColor"" class="btn btn-primary "> @Html.ActionLink("Редактировать", "OEdit", new { id = item.Id }, new { @class = "my-class" }) </button>
            <button type="button" id="id=" WhiteColor"" class="btn btn-primary "> @Html.ActionLink("Подробности", "ODetails", new { id = item.Id }, new { @class = "my-class" }) </button>
            <button type="button" id="WhiteColor" class="btn btn-danger">@Html.ActionLink("Удалить", "ODelete", new { id = item.Id }, new { @class = "my-class" }) </button>
        </td>
    </tr>
}

</table>
